body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    margin: 0;
    color: white;
}

.game-container {
    text-align: center;
    margin-top: 20px;
}

h1 {
    color: #333;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-gap: 10px;
    margin-top: 20px;
}

.cell {
    width: 80px;
    height: 80px;
    font-size: 20px;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.cell:hover {
    background-color: #e0e0e0;
}

.status, .win-message {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.reset-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: default;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.reset-btn:hover {
    background-color: rgb(103, 206, 240);
}

a {
    margin-top: 20px;
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #45a049;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    text-align: left;
}

.content-container {
    display: flex;
    align-items: center;
}

.scores {
    border: 2px solid #333; /* Border color */
    border-radius: 10px; /* Border radius */
    padding: 5px;
    margin-right: 20px; /* Adjust the margin as needed */
}

.player-score {
    margin-bottom: 10px;
}